<footer class="footer">
    <div class="content has-text-centered">
        <p>
            See source code at <a href = "https://github.com/qiushiyan/clipstash">https://github.com/qiushiyan/clipstash</a>
        </p>
    </div>
</footer>